html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000bf;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  color: white;
}

body > header {
  height: 70px;
  background-color: black;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logotipo {
  display: flex;
  align-items: center;
}
.logotipo img {
  width: 60px;
  height: 60px;
}

.logotipo h1 {
  color: white;
  margin-left: 10px;
}

.logotipo h1 span {
  color: #f30000;
}

body > header nav {
  color: azure;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 0;
}

main {
  background-color: dimgray;
  min-height: calc(100vh - 302px);
  padding: 16px;
}

footer {
  background-color: black;
  height: 200px;
}

footer p {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.card-ticket {
  width: 700px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(36, 32, 32);
}

.card-ticket header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.card-ticket header .bolsa {
  display: flex;
  align-items: center;
  color: white;
}

.card-ticket header .acao ▲ {
  display: flex;
  align-items: center;
  color: white;
}
