html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000bf;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  color: white;
}

body > header {
  height: 70px;
  background-color: black;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body > header nav a{
  color: #fff;
  text-decoration: none;
}

body > header nav a:hover{
  color: #d30404cf;
  border-bottom: 3px solid #f30000;
  padding-bottom: 22px;
}

/* body > header nav a:visited{
  color: #f30000;
} */

body > header nav a.active{
  color: #f30000;
}

.logotipo {
  display: flex;
  align-items: center;
}
.logotipo img {
  width: 60px;
  height: 60px;
}

.logotipo h1 {
  color: white;
  margin-left: 10px;
}

.logotipo h1 span {
  color: #f30000;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

body > main {
  min-height: calc(100vh - 302px);
  background-color: dimgray;
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

body > footer {
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}


footer p {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.card-ticket {
  width: 300px;
  background-color: #0a0a0a;
  border-radius: 20px;
  padding: 16px;
  margin: 20px;
  /* align-self: baseline; */
  height: fit-content;
}

.card-ticket header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-ticket header h2 {
  margin: 0;
  font-size: 18px;
}

.card-ticket header h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.card-ticket header h2 span {
  margin: 5px;
  color: darkgray;
  font-weight: normal;
}

.card-ticket main {
  background-color: #0a0a0a;
  border-radius: 10px;
}

.card-ticket main p {
  font-size: 20px;
  margin: 10px 0 0;
}

.card-ticket main div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.card-ticket main div span {
  color: #f5eded;
  font-size: 20px;
  margin: 12px 0 0;
  text-decoration-line: none;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-ticket main .teste {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
}

.card-ticket main div .value {
  text-decoration: underline;
  margin: 15px 0 15px 0;
  font-size: 20px;
}

.card-ticket main .pos {
  background: #02bb2a;
  padding: 3px 16px;
  margin: 0 8px 0 8px;
  justify-items: center;
  align-items: baseline;
  border-radius: 12px;
  font-size: 16px;
  color: #fff;
}

.card-ticket main .neg {
  background: #d30404;
  padding: 3px 16px;
  margin: 0 8px 0 8px;
  justify-items: center;
  align-items: baseline;
  border-radius: 12px;
  font-size: 16px;
  color: #fff;
}

.card-ticket main .est {
  background: #817968;
  padding: 3px 16px;
  margin: 0 8px 0 8px;
  justify-items: center;
  align-items: baseline;
  border-radius: 12px;
  font-size: 16px;
  color: #fff;
}
.card-ticket main div div span {
  color: #f5eded;
  font-size: 22px;
  text-decoration-line: none;
  padding-left: 10px;
}

.card-ticket footer {
  display: flex;
  justify-content: space-between;
  margin: 26px 0 0 0;
  background-color: #0a0a0a;
}

.card-ticket footer div:nth-child(2) {
  text-align: right;
}

.card-ticket footer div p {
  margin: 0;
  font-size: 26px;
}

.card-ticket footer div span {
  font-size: 14px;
  color: darkgray;
}

table {
  border-collapse: collapse; 
}

th, td{
  border: 1px solid #fff;
  text-align: center; 
  padding: 6px;
}
main > table a {
  color: #fff;
  text-decoration: none;
}

tr:nth-child(odd) {
  background-color: #252323;
}
